{% extends "base.html" %}

{% block content %}
<h2>Welcome to Gyancho</h2>
<p>Your one-stop solution for learning from the best professors of our college campus.</p><br>
<p>This project is currently under development.</p><br>
<p>The Main developer team includes : <br>
        1."Hellfl4re" a.k.a Sagar Vats <br>
        2."bosswhopper" a.k.a Pranav <br>
<p>The project is currently open source available at github with MIT License attached.</p><br>
<p>It is built solely for educational purposes only and would be up for sale if desired to be made private.</p>
<br>    
{% endblock %}
